* {
  box-sizing: border-box;
}
:root {
  --el-marg: 0;
  --tex-loc: center;
  --all-margin: 15px;
}
form {
  width: 40%;
  background-color: rgba(62, 169, 245, 1);
  color: white;
  margin: 0 auto;
}
.header-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--el-marg);
}
h1 {
  text-transform: uppercase;
  text-align: var(--tex-loc);
  margin: var(--el-marg);
  margin-top: var(--all-margin);
}
.under-main-header {
  font-size: 1.2em;
  width: 400px;
  text-align: var(--tex-loc);
  margin: var(--el-marg);
}
.flex-contener {
  display: flex;
  /*justify-content: space-evenly;*/
  margin-top: calc(var(--all-margin) + 17px);
  width: 100%;
  gap: 70px;
}
.f-block {
  display: flex;
  flex-direction: column;
}
.position {
  margin-bottom: var(--all-margin);
}
input {
  padding: 1em 2em;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.choose-item {
  display: flex;
  border: 1px solid white;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 35px;
  margin-top: calc(var(--all-margin) + 5px);
  gap: 10px;
}
.choose-item label {
  margin: 0;
  font-size: 1.3em;
}
.choose-item p {
  margin: 0;
}
.structure {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
button {
  margin-top: calc(var(--all-margin) + 5px);
  padding: 1em 10em;
  text-align: center;
  background-color: rgba(40, 210, 208, 1);
  color: white;
  margin-bottom: calc(var(--all-margin) + 5px);
  border: none;
  font-size: 1.2em;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.button:hover{
  cursor: pointer;
}
