* {
  box-sizing: border-box;
}
:root {
  --el-color: white;
  --el-marg: 15px;
  --el-pad: 10px;
  --el-gap: 10px;
}
form {
  background-color: rgba(62, 169, 245, 1);
  width: 500px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--el-color);
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.1em;
  margin-top: var(--el-marg);
}
.text-header {
  margin-top: calc(var(--el-marg) + 5px);
  font-size: 1.2em;
  margin: 0;
}

.flex-form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: calc(var(--el-marg) + 5px);
  margin-top: calc(var(--el-marg) + 5px);
}
input:not([type="radio"]) {
  padding: 1.5em 2em;
  border: none;
}
.under-inp {
  display: flex;
  border: 1px solid var(--el-color);
  gap: var(--el-gap);
  margin-left: calc(var(--el-marg) + 5px);
  margin-right: calc(var(--el-marg) + 5px);
  padding-top: var(--el-pad);
  padding-bottom: var(--el-pad);
  margin-bottom: calc(var(--el-marg) + 5px);
}
input[type="radio"] {
  margin-left: calc(var(--el-marg) - 5px);
}
.oposit-to-point {
  display: flex;
  flex-direction: column;
  color: var(--el-color);
}
.small-text {
  font-size: 0.8em;
  color: var(--el-color);
}
.captilized {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.above-button {
  display: flex;
  align-items: center;
  gap: var(--el-gap);
  margin-left: calc(var(--el-marg) + 5px);
  margin-right: calc(var(--el-marg) + 5px);
  margin-bottom: calc(var(--el-marg) + 5px);
}
input[type="checkbox"] {
  margin-left: calc(var(--el-marg) - 5px);
}
.flex-btn {
  display: flex;
  justify-content: center;
  gap: var(--el-gap);
  margin-bottom: calc(var(--el-marg) - 5px);
}
button {
  font-size: 1.1em;
  padding: 1em 9.5em;
  margin-right: calc(var(--el-marg) + 5px);
  margin-left: calc(var(--el-marg) + 5px);
  color: var(--el-color);
  background-color: rgba(40, 210, 208, 1);
  border: none;
}
.end {
  height: 10px;
}
