* {
  box-sizing: border-box;
  color: white;
}

form {
  background-color: rgb(62, 169, 245);
  width: 510px;
  margin: 0 auto;
}
.form-container,
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.header-description {
  font-size: 1.2em;
  width: 80%;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 25px;
  width: 89%;
}
.input-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 1.5em 2em;
  border: none;
  border-radius: 5px;
  width: 48%;
}
.radio-container {
  display: flex;
  flex-direction: column;
  width: 89%;
}
.choice {
  display: flex;
  margin-top: 20px;
  border: 1px solid white;
  padding: 15px 0;
}
.point-place {
  margin: 0 5px;
}
.radio-title {
  font-size: 1.2em;
}
.description {
  font-size: 12.5px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 89%;
}
.button {
  background-color: rgb(40, 210, 208);
  border: none;
  margin: 15px 0;
  padding: 1em 3em;
  width: 89%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
